/* Общие стили */
/*
body {
  background-image: url('photjpg.jpg');
  background-size: cover;
  background-position: center;
  font-size: 18px; 
  font-family: Arial, sans-serif; 

}

h1, h2 {
  color: #333; 
}

p {
  line-height: 1.5; 
}
*/

/* Стили для таблицы */
table {
    width:100%;
    border-collapse : collapse ;
    margin-bottom :20px ;
}

th, td{
    padding :10px ;
    text-align:left ;  
     border-bottom:solid #ddd ;
   }

th{
   background-color:#f9f9f9 ; /* Цвет фона заголовков */
}


.car-image img{   
   max-width :100% ;     
   height:auto ;      
}   

/* Стили для меню навигации */    
nav{
      background-color:#333;/* Цвет фона меню*/
}
nav ul{
       list-style-type:none;
       margin :0;
       padding :0;}
nav ul li {display:inline-block;}  

nav ul li a { display:block;color:#fff;text-decoration:none;padding:
             }
             
 nav ul li a:hover{background-color:#555;}

/* Стили для контактной формы */

form{margin-top :20px;}                 
label{display:block;margin-bottom :
         input[type="text"], input[type="email"],
          textarea {

            width ::100% ;

            padding::10px;

            margin-bottom::10px ;

            border:1px solid #ccc ;

            border-radius::4px ;  
          }

input[type="submit"] {

              background-color :#333; 

              color:#fff;

              border:none;

              padding:10px 20px ; 

             cursor:pointer;}

input[type="submit"]:hover{background-color :
                              #555;}
